<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>MiExt</string>
    <key>CFBundleDisplayName</key>
    <string>MiExt</string>
    <key>CFBundleIdentifier</key>
    <string>com.miext.app</string>
    <key>CFBundleVersion</key>
    <string>1.2.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.0</string>
    <key>CFBundleExecutable</key>
    <string>mi-ext</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array><string>folder</string></array>
            <key>CFBundleTypeName</key>
            <string>Folder</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>jpg</string>
                <string>jpeg</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>MVIMG Dynamic Photo</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>10.14</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh_CN</string>
    </array>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
